{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magazin de Bijuterii{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'magazin_de_bijuterii/css/stil.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1> Magazin de Bijuterii </h1>
        <nav>
            <ul class="meniu">
                <li><a href="{% url 'index' %}">Acasă</a></li>
                <li class="dropdown">
                    <a href="{% url 'despre' %}">Despre ▼</a>
                    <ul class="submenu">
                        <li><a href="{% url 'despre' %}#istoric">Istoric</a></li>
                        <li><a href="{% url 'despre' %}#echipa">Echipa</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                   <a href="{% url 'produse' %}">Categorii ▼</a>
                    <ul class="submenu">
                        {% for cat in categorii %}
                            <li><a href="{% url 'produse_categorie' cat.nume %}">{{ cat.nume }}</a></li>
                        {% empty %}
                            <li><em>Nu există categorii</em></li>
                        {% endfor %}
                    </ul>
                </li>


                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'vizualizare_cos' %}">Coș virtual</a></li>
                {% if user.is_authenticated and "Administratori_site" in user.groups.all|stringformat:"s" %}
                    <li><a href="{% url 'log' %}">Log</a></li>
                    <li><a href="{% url 'info' %}">Info</a></li>
                {% endif %}

                
                {% if user.is_authenticated and "Administratori_site" in user.groups.all|stringformat:"s" %}
                    <li><a href="{% url 'adauga_produs' %}">Adaugă produs</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
    </main>


    <footer>
        <p>© 2025 Magazin de Bijuterii</p>
        <p>IP-ul tău: {{ user_ip }}</p>
    </footer>
</body>
</html>
 
